/* Desktop Screen */

@media screen 
  and (min-device-width: 768px) {

body {
    position: relative;
    min-height: 100%;
    background-image: url("./Photos/bg-image.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #02060f;
    background-position: 50% 50%;
    margin: 0;
}

h1 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    margin: 0;
}

.titleLink {
    color: #02060f;
    text-decoration: none;
}

.buttonWrapper {
    display: flex;
    justify-content: center;
    padding: 5%;
    margin: 10% 0 0 0;
    flex-wrap: wrap;
}

.buttonListenNow,
.buttonMain,
.buttonLinkTree {
    font-family: 'Archivo Black', sans-serif;
    background-color: white;
    color: #02060f;
    font-size: 25px;
    text-decoration: none;
    margin: 1%;
    padding: 20px 100px;
}

li {
    display: inline;
    margin: 0;
    bottom: 0px;
    list-style-type: none;
    padding: 3%;
}

a {
    text-decoration: none;
}

.socialWrapper {
    display: block;
    background-color: #02060f;
    padding: 1em;
    text-align: center;
    bottom: 0px;
    position: fixed;
    width: 100%;
}

.resize {
    max-width: 30px;
    height:auto;
}

}

/* Phone Screen */

@media only screen 
  and (min-device-width: 320px)
  and (max-device-width: 480px) {
    body {
        position: relative;
        min-height: 100%;
        background-image: url("./Photos/bg-image.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: #02060f;
        background-position: 50% 50%;
        margin: 0;
    }
    
    
    
    h1 {
        font-family: 'Archivo Black', sans-serif;
        font-size: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5%;
        margin-bottom: 100%;
    }
    
    .titleLink {
        color: #02060f;
        text-decoration: none;
    }
    
    .buttonWrapper {
        display: flex;
        justify-content: center;
        padding: 5%;
        margin: 60% 0 0 0;
        flex-wrap: wrap;
    }
    
    .buttonListenNow,
    .buttonMain,
    .buttonLinkTree {
        font-family: 'Archivo Black', sans-serif;
        background-color: white;
        color: #02060f;
        font-size: 25px;
        text-decoration: none;
        margin: 2%;
        padding: 10px 40px 10px 40px;
    }
    
    li {
        display: inline;
        margin: 0;
        bottom: 0px;
        list-style-type: none;
        padding: 5%;
    }
    
    a {
        text-decoration: none;
    }
    
    .socialWrapper {
        display: block;
        background-color: #02060f;
        padding: 1em;
        text-align: center;
        bottom: 0px;
        position: fixed;
        width: 100%;
    }
    
    .resize {
        max-width: 20px;
        height:auto;
    }
  }