html {
    margin: 0 auto;
}

body {
    margin: 0;
    background-color: #02060f;
    font-family: 'Archivo Black', sans-serif;
}

h2 {
    color: #c1aca7;
    text-align: center;
}

.embedContainer {
    text-align: center;
}

.bioText {
    color: #c1aca7;
    text-align: center;
    line-height: 2;
    display: flexbox;
    margin: 2em;
    font-family: 'Roboto', sans-serif;
    font-size: larger;
}

footer {
    color: #c1aca7;
    text-align: center;
    display: flexbox;
    margin: 2em;
}

/* Nav Bar */
.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #c1aca7;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

nav li {
    display: inline-block;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 25px;
    position: relative;
}

a {
    color: #585b61;
    text-decoration: none;
    font-size: 23px;
}

nav a:hover {
    color: #02060f;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: #02060f;
    position: absolute;
    top: 0;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}
